.favorites-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorites {
  width: 100%;
  max-width: 1200px;
  padding: 0 32px;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.favorites h4 {
  color: #fff;
  margin-right: 10px;
  font-weight: 400;
}

.favorites button {
  width: 30px;
  height: 30px;
  font-size: 18px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative;
}

.favorite-number {
  position: absolute;
  right: -23px;
  top: -13px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #ff1d15;
}